<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>UIController</servlet-name>
        <servlet-class>selvlets.UIController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UIController</servlet-name>
        <url-pattern>/UIController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <security-constraint>
        <display-name>disable all JSPs</display-name>
        <web-resource-collection>
            <web-resource-name>all JSPs</web-resource-name>
            <description/>
            <url-pattern>*.jsp</url-pattern>
            <http-method>GET</http-method>
            <http-method>HEAD</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description>disable for all users</description>
            <role-name>User</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>open all JSPs</display-name>
        <web-resource-collection>
            <web-resource-name>open all JSPs</web-resource-name>
            <description/>
            <url-pattern>*.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>enable for admins</description>
            <role-name>Admin</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/loginError.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>Administrator</description>
        <role-name>Admin</role-name>
    </security-role>
    <security-role>
        <description>Only User</description>
        <role-name>User</role-name>
    </security-role>
</web-app>
